<div class="container">
    <div class="footer-section container" >
        <div class="footer-content">
            <div class="di-footer">
                <div class="image">
                    <img style="height: 100px; width: auto;" src="assets/image/ennwin-s.jpeg" alt="">
                </div>
    
                <p class="footer-text">Manufactured and Marketed by:</p>
                <h4 class="footer-header">ENNWIN INDUSTRIES PRIVATE LIMITED</h4>
                <h4 class="footer-header">M/s. Sannuthi Shubharam Estate</h4>
                <p class="footer-text">
                    #170/1, Marsur Gate, Anekal, Bengaluru - 562106.<br />
                    Mobile : 7483837722, 9663538037 I E-mail: info&#64;ennwin.in
                </p>
            </div>
        </div>
    
        <!-- Section for Certificates -->
        <div class="certificate-section">
            <img class="certificate-img" src="assets/image/iso.png" alt="Certificate 1">
            <img class="certificate-img" src="assets/image/iaf.webp" alt="Certificate 2">
        </div>
    </div>

    
</div>
